src/com/sp/product_update.wsdl

<?xml version="1.0" ?>
<definitions name="http://dms.shipgroup.net/wsdl/api/product_update" targetNamespace="urn:http://dms.shipgroup.net/wsdl/api/product_update" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:http://dms.shipgroup.net/wsdl/api/product_update" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types xmlns="http://schemas.xmlsoap.org/wsdl/" />
<portType name="http://dms.shipgroup.net/wsdl/api/product_updatePort"><operation name="product_update">
<input message="tns:product_updateRequest" />
<output message="tns:product_updateResponse" />
</operation>
<operation name="product_price_update">
<input message="tns:product_price_updateRequest" />
<output message="tns:product_price_updateResponse" />
</operation>
</portType>
<binding name="http://dms.shipgroup.net/wsdl/api/product_updateBinding" type="tns:http://dms.shipgroup.net/wsdl/api/product_updatePort">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
<operation name="product_update">
<soap:operation soapAction="urn:http://dms.shipgroup.net/wsdl/api/product_update#webserver_product#product_update" />
<input><soap:body use="encoded" namespace="urn:http://dms.shipgroup.net/wsdl/api/product_update" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:http://dms.shipgroup.net/wsdl/api/product_update" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="product_price_update">
<soap:operation soapAction="urn:http://dms.shipgroup.net/wsdl/api/product_update#webserver_product#product_price_update" />
<input><soap:body use="encoded" namespace="urn:http://dms.shipgroup.net/wsdl/api/product_update" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:http://dms.shipgroup.net/wsdl/api/product_update" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
</binding>
<service name="http://dms.shipgroup.net/wsdl/api/product_update">
<documentation />
<port name="http://dms.shipgroup.net/wsdl/api/product_updatePort" binding="tns:http://dms.shipgroup.net/wsdl/api/product_updateBinding"><soap:address location="http://_:80/index.php/wsdl/api/product_update" />
</port>
</service>
<message name="product_updateRequest">
<part name="postXml" type="xsd:string" />
</message>
<message name="product_updateResponse">
<part name="product_update" type="xsd:string" />
</message>
<message name="product_price_updateRequest">
<part name="postXml" type="xsd:string" />
</message>
<message name="product_price_updateResponse">
<part name="product_price_update" type="xsd:string" />
</message>
</definitions>